<!DOCTYPE html>
<head>
  <title>Messages</title>
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <div class="container pt-5">
    
    <!-- form to fill messages -->
    Tapez ci-dessous le message de votre choix
    <form class="pb-5">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">garder 24h</label>
      </div>
      <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

    <!-- list of messages to keep or erase (loop) -->
    Messages
    <div class="card mt-2 mb-2">
      <div class="card-body">
        <p>
          Ceci est le texte d'un message qui a été envoyé avant.
        </p>
        <a href="#" class="btn btn-danger btn-outline">Effacer</a>
      </div>
      <div class="card-footer text-muted">
        Il y a 2 jours
      </div>
    </div>
    <div class="card mt-2 mb-2">
      <div class="card-body">
        <p>
          Ceci est le texte d'un message qui a été envoyé avant.
        </p>
        <a href="#" class="btn btn-danger btn-outline">Effacer</a>
      </div>
      <div class="card-footer text-muted">
        Il y a 2 jours
      </div>
    </div>

    <!-- link to message board -->
  
  </div>
</body>