<!DOCTYPE html>
<head>
  <title>Messages</title>
  
  <!-- All the favicons of the world -->
  <link rel="shortcut icon" href="https://cdn.glitch.com/0ed38d3c-4987-4983-a3f0-2347c4bf05e6%2Ffavicon.ico?v=1579270003958" type="image/x-icon">
  <link rel="icon" href="https://cdn.glitch.com/0ed38d3c-4987-4983-a3f0-2347c4bf05e6%2Ffavicon.png?v=1579270003929" type="image/png">
  <link rel="icon" sizes="32x32" href="https://cdn.glitch.com/0ed38d3c-4987-4983-a3f0-2347c4bf05e6%2Ffavicon-32.png?v=1579270004054" type="image/png">
  <link rel="icon" sizes="64x64" href="https://cdn.glitch.com/0ed38d3c-4987-4983-a3f0-2347c4bf05e6%2Ffavicon-64.png?v=1579270004142" type="image/png">
  <link rel="icon" sizes="96x96" href="https://cdn.glitch.com/0ed38d3c-4987-4983-a3f0-2347c4bf05e6%2Ffavicon-96.png?v=1579270003860" type="image/png">
  <link rel="icon" sizes="196x196" href="https://cdn.glitch.com/0ed38d3c-4987-4983-a3f0-2347c4bf05e6%2Ffavicon-196.png?v=1579270003842" type="image/png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.glitch.com/0ed38d3c-4987-4983-a3f0-2347c4bf05e6%2Fapple-touch-icon.png?v=1579270003874">
  <link rel="apple-touch-icon" sizes="60x60" href="https://cdn.glitch.com/0ed38d3c-4987-4983-a3f0-2347c4bf05e6%2Fapple-touch-icon-60x60.png?v=1579270004116">
  <link rel="apple-touch-icon" sizes="76x76" href="https://cdn.glitch.com/0ed38d3c-4987-4983-a3f0-2347c4bf05e6%2Fapple-touch-icon-76x76.png?v=1579270004001">
  <link rel="apple-touch-icon" sizes="114x114" href="https://cdn.glitch.com/0ed38d3c-4987-4983-a3f0-2347c4bf05e6%2Fapple-touch-icon-114x114.png?v=1579270003983">
  <link rel="apple-touch-icon" sizes="120x120" href="https://cdn.glitch.com/0ed38d3c-4987-4983-a3f0-2347c4bf05e6%2Fapple-touch-icon-120x120.png?v=1579270003897">
  <link rel="apple-touch-icon" sizes="144x144" href="https://cdn.glitch.com/0ed38d3c-4987-4983-a3f0-2347c4bf05e6%2Fapple-touch-icon-144x144.png?v=1579270004268">
  <meta name="msapplication-TileColor" content="#000000"> 

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/message.css" />
  <script src="/client.js" defer></script>
</head>

<body>
  <div class="container pt-5 pb-5">
    <!-- form to fill messages -->
    <form class="pb-5">
      <div class="form-group">
        <label for="exampleFormControlTextarea1"
          >Tapez ci-dessous le message que vous souhaitez afficher sur
          l'écran</label
        >
        <textarea
          name="dream"
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
        <small id="emailHelp" class="form-text text-muted"
          >Attention, des enfants peuvent regarder ;)</small
        >
      </div>
      <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

    <hr />

    <!-- list of messages to keep or erase -->
    <h2 class="pt-5 mb-3">
      Messages en mémoire
    </h2>

    <div class="dreams">
      <div id="dreams">
        <!-- Inserer les lignes avec le template (voir bas de page) avec le client -->
      </div>

      <!-- button to erase all old messages -->
      <a href="#" class="btn btn-danger btn-outline" id="clear-dreams"
        >Tout effacer</a
      >
    </div>
  </div>

  <!-- Le template utilisé pour pousser le contenu -->
  <template id="messagerow">
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
      <p></p>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <small class="timeago"></small>
    </div>
  </template>

  <script src="/timetogo.js" defer></script>
</body>
